@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-left {
    animation: slide-left 0.25s cubic-bezier(0.4,0,0.2,1);
    z-index: 1;
  }
  .animate-slide-right {
    animation: slide-right 0.25s cubic-bezier(0.4,0,0.2,1);
    z-index: 1;
  }
  @keyframes slide-left {
    0% { transform: translateX(40px); }
    100% { transform: translateX(0); }
  }
  @keyframes slide-right {
    0% { transform: translateX(-40px); }
    100% { transform: translateX(0); }
  }
}
